@import "normalize.css";
@import "vars";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  font-family: "Ubuntu", sans-serif;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #000;
  min-width: 320px;
  width: 100%;
  overflow-x: hidden;
}
.desktop,
.card {
  display: none;
}
.header {
  background-color: $primary;
  max-width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 17px 26px 18px 27px;
  margin: 0 auto;
}
.burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.burger__line {
  width: 23px;
  height: 2px;
  background-color: #fff;
}
.header__img {
  width: 18px;
  height: 15px;
}
.main {
  position: relative;
  max-width: 100%;
  width: 320px;
  min-height: 100vh;
  padding: 0 20px;
  margin: 0 auto;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 16px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 22.08px;
}
.title__divider {
  background-color: $primary;
  opacity: 0.2;
  height: 2px;
  width: 100%;
}

.cards__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 23px;
}
.cards__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px 30px;
}
.card__mobile {
  display: flex;
  border-radius: 10px;
  margin-left: auto;
  max-width: 81.25vw;
  width: 100%;
  height: 59px;
  background-color: $primary;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 33px 15px 0;
  position: relative;
}
.card__offer-mobile {
  position: absolute;
  top: 30%;
  right: 60%;
  border-radius: 5px;
  padding: 3px 10px 4px 10px;
  width: 123px;
  height: 23px;
  background-color: $accent;
}
.card__offer-title {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.card__credits-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.card__credits-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  background-color: $accent;
  color: #000;
}
.card__credits-title {
  font-weight: 700;
  font-size: 8px;
  text-align: center;
}
.card__credits {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
}
.card__credits-slash {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-right: 4px;
  margin-left: 2px;
}
.pagination__wrapper {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
}

.pagination__dot {
  border-radius: 100%;
  width: 7px;
  height: 7px;
  background-color: $accent;
}
.cards__btn {
  margin-top: 34px;
  border-radius: 10px;
  width: 280px;
  height: 55px;
  background-color: $accent;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 0 0 3px 1px;
  color: #000;
  font-family: "Ubuntu", sans-serif;
}
.policy__wrapper {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  width: 100%;
}
.policy__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 5px;
  min-width: 20px;
  height: 20px;
  margin-left: 1px;
}
.policy__checkbox-img {
  width: 10px;
  height: 6px;
}
.policy__text {
  padding-top: 1px;
  width: 100%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.6;
  color: #000;
}
.policy__link {
  color: $primary;
  cursor: pointer;
}

.diamond__wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.diamond__img {
  display: flex;
  align-self: center;
  margin-right: 5px;
  width: 81px;
  height: 67px;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.list__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.list__item-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $card-bg;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.list__item-img {
  display: flex;
  margin: 0 0 2px 1px;
}
.list__item-title {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  color: $primary;
}
.list__item:first-of-type .list__item-title {
  margin-bottom: 13px;
  margin-left: 1px;
}
.list__item:last-of-type .list__item-title {
  margin-left: 3px;
}
//
.parallax {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .mobile,
  .card__mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .header {
    height: 100px;
    padding: 17px 18.53vw 28px 19.53vw;
  }

  .header__logo {
    display: flex;
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    cursor: default;
  }
  .header__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2.3vw;
    margin-top: 4px;
  }

  .header__list-item-link {
    font-weight: 700;
    color: #fff;
    cursor: pointer;
  }
  .premium__btn {
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    padding: 6px 13px;
    width: 122px;
    height: 30px;
    background-color: #684677;
    color: $accent;
    font-weight: 700;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .premium__btn-img {
    width: 18px;
    height: 15px;
    margin-top: 1px;
  }

  //MAIN
  .main {
    width: 100%;
    padding: 0;
  }
  .container {
    display: flex;
    gap: 30px;
    padding: 0 18.53vw 0 19.53vw;
    justify-content: center;
  }
  .menu {
    margin-top: 30px;
    max-width: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 810px;
    max-height: 100vh;
    border: 2px solid $card-bg;
    border-radius: 10px;
    padding: 14px 20px 0 12px;
  }
  .menu__header {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .menu__header-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .menu__header-title {
    font-weight: 700;
    color: #000;
  }
  .menu__header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    text-wrap: nowrap;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    width: 86px;
    height: 21px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
  }
  .menu__divider {
    width: 100%;
    height: 2px;
    background-color: $primary;
    opacity: 0.2;
    margin: 20px 0 19px;
  }
  .menu__content {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    width: 100%;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 23px;

    &-item {
      display: flex;
      align-items: center;
      gap: 14.11%;
    }
  }
  .menu__link {
    display: flex;
    align-items: center;
    &-img.resize {
      width: 22px;
      height: 22px;
    }
    &-title {
      font-weight: 400;
      color: #000;
    }
  }

  .content {
    max-width: 870px;
  }
  .title__wrapper {
    margin-top: 20px;
    gap: 20px;
  }
  .title {
    font-size: 40px;
    line-height: 45.96px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
  }

  //Timer Section
  .timer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 82px;
    background-color: $secondary;
    border: none;
    padding: 11px 13px 13px 11px;
    margin-top: 30px;
  }
  .timer__title {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.04em;
    text-align: center;
    color: $accent;
    -webkit-text-stroke: 1px #fff;
  }
  .timer__subtitle {
    margin-top: 2px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
  .timer {
    display: flex;
    padding: 5px 20px;
    background-color: #fff;
    font-size: 40px;
    text-align: center;
    border-radius: 5px;
    width: 238px;
    height: 56px;
    letter-spacing: 0.16em;
    margin-top: 3px;
  }

  //Cards Section
  .cards__container {
    margin-top: 26px;
  }
  .cards__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .card {
    border: 2px solid #9564aa;
    border-radius: 10px;
    height: 123px;
    background-color: $card-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px 17px;
    gap: 8px;
    width: 100%;
    position: relative;
  }

  .card__credits-wrapper {
    display: flex;
    gap: 5px;
  }
  .card__credits {
    font-weight: 700;
    color: #000;
    font-size: 24px;
  }
  .card__btn {
    display: flex;
    min-width: 120px;
    max-height: 52px;
    padding: 17px 28px;
    font-weight: 500;
    font-size: 16px;
    text-wrap: nowrap;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
    &:hover {
      background-color: $accent;
      color: #000;
      border-color: $primary;
    }
  }
  .card__offer {
    display: none;
    position: absolute;
    top: -10%;
    right: 9%;
    border-radius: 5px;
    padding: 3px 10px 4px 10px;
    width: 123px;
    height: 23px;
    background-color: $accent;
  }
  .card__offer-title {
    font-weight: 700;
    font-size: 14px;
    color: #000;
  }

  .policy__wrapper {
    margin-top: 12px;
    gap: 9px;
  }
  .policy__checkbox {
    margin-left: 0;
  }

  .policy__text {
    padding-top: 3px;
    font-size: 13px;
    line-height: 1.23;
  }

  //Diamond section

  .diamond__wrapper {
    justify-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    gap: 0;
    padding: 34px 5vw 0;
  }

  .diamond__img {
    position: absolute;
    top: 40%;
    width: 131px;
    height: 110px;
    margin-right: 4%;
  }

  .list {
    margin-right: 4%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "msg heart"
      "gift eye"
      "msg2 settings";
    gap: 0;
  }

  .list__item {
    text-align: center;
    flex-direction: column;
    gap: 4px;
    max-width: 108px;
  }
  .list__item-img-wrapper {
    width: 50px;
    height: 50px;
  }
  .list__item-img {
    margin: 0;
    width: 24px;
    height: 24px;
  }
  .list__item-title {
    padding-bottom: 0;
    font-weight: 700;
    font-size: 12px;
    color: $primary;
  }
  .list__item:first-of-type .list__item-title {
    margin-bottom: 0;
    margin-left: 0;
  }
  .list__item:last-of-type .list__item-title {
    margin-left: 0;
  }

  // Позиции для иконок
  .list__item:nth-child(1) {
    grid-area: msg;
    justify-self: flex-end;
    margin-right: 2%;
  }

  .list__item:nth-child(2) {
    grid-area: eye;
    justify-self: center;
    margin-right: 26%;
    margin-bottom: 5%;
  }

  .list__item:nth-child(3) {
    grid-area: gift;
    justify-self: center;
    margin-bottom: 5%;
    margin-left: 23%;
  }

  .list__item:nth-child(4) {
    grid-area: heart;
  }
  .list__item:nth-child(5) {
    grid-area: msg2;
    justify-self: flex-end;
    margin-bottom: 2%;
    margin-right: 2%;
  }
  .list__item:nth-child(6) {
    grid-area: settings;
    margin-bottom: 2%;
  }
}

//
@media (min-width: 1626px) {
  .card:nth-child(5),
  .card:nth-child(6) {
    grid-column: span 2;
  }
}

@media (min-width: 1917px) {
  .card:nth-child(5) {
    grid-column: auto;
  }
  .card:nth-child(6) {
    grid-column: 1 / -1;
    background-color: $card-btn-bg;
    border: 2px solid $card-btn-border;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 41px;
    height: 74px;
  }
  .card:nth-child(6) .card__btn {
    width: 185px;
    justify-content: center;
  }
  .card:nth-child(6) .card__credits-wrapper {
    margin-left: 77px;
    margin-bottom: 5px;
  }
}
